# Machine Learning - Fazer Histórico
Baseado no histórico dos alunos definir se deve fazer o histórico de um aluno

## Organizar os dados
O histórico dos alunos precisam ser reorganizados em um ou mais arquivos para

### Organizar Turmas

In [1]:
series = [
    ['GRUPO 1'], # 0
    ['GRUPO 2'], # 1
    ['GRUPO 3'], # 2
    ['GRUPO 4'], # 3
    ['GRUPO 5'], # 4
    ['1o ANO'], # 5
    ['2o ANO'], # 6 (OU 1a série)
    ['3o ANO'], # 7 (OU 2a série)
    ['4o ANO'], # 8 (OU 3a série)
    ['5o ANO'], # 9 (OU 4a série)
    ['6o ANO'], # 10 (OU 5a série)
    ['7o ANO'], # 11 (OU 6a série)
    ['8o ANO'], # 12 (OU 7a série)
    ['9o ANO'], # 13 (OU 8a série)
    ['SE LIGA'], # 14
    ['ACELERA'], # 15
    ['TAP III'], # 16
    ['TAP IV'], # 17
    ['TAP V'], # 18
]

### Organizar Status

# status = [
    ['EVADIDO'], # 0
    ['TRANSFERIDO'], # 1
    ['CONSERVADO'], # 2
    ['APROVADO'], # 3
    ['EXCLUIDO']
]

### Organizar Ações

In [39]:
"""
acoes = [
    ['NADA'], # 0
    ['FICHA DO ALUNO'], # 1
    ['HISTÓRICO'], # 2
]
"""

"\nacoes = [\n    ['NADA'], # 0\n    ['FICHA DO ALUNO'], # 1\n    ['HISTÓRICO'], # 2\n]\n"

In [35]:
import pandas as pd
# TODO: abrir arquivos de históricos

# TODO: montar arquivos cvs com históricos organizados por ano

# Abrir arquivo com históricos organizados
historicos = pd.read_csv('historicos.csv', sep = ';', encoding = 'utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
ALUNO     92 non-null int64
SERIE     92 non-null int64
ANO       92 non-null int64
STATUS    92 non-null int64
dtypes: int64(4)
memory usage: 3.0 KB

In [36]:
historicos.head()

   ALUNO  SERIE   ANO  STATUS
0      1      5  1999       3
1      2      5  1999       3
2      3      5  1999       3
3      4      5  1999       3
4      5      5  1999       3

In [37]:
historicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
ALUNO     92 non-null int64
SERIE     92 non-null int64
ANO       92 non-null int64
STATUS    92 non-null int64
dtypes: int64(4)
memory usage: 3.0 KB

## Início do Machine Learning
Neste ponto começarei a criar o modelo até que ele consiga prever o que deve ser feito baseado no aprendizado do robô

In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
acoes = [
    1, 1, 1, 1, 1, 1, 1, 1, 1, \
    1, 1, 1, 2, 1, 1, 1, 0, 1, \
    1, 1, 1, 1, 1, 1, 1, 1, 1, \
    1, 2, 1, 1, 1, 1, 1, 1, 1, \
    1, 1, 1, 1, 1, 1, 1, 1, 1, \
    1, 1, 1, 1, 1, 1, 1, 1, 1, \
    1, 1, 1, 1, 1, 1, 1, 1, 1, \
    1, 1, 1, 1, 1, 1, 1, 1, 1, \
    2, 1, 2, 1, 1, 2, 2, 1, 2, \
    1, 1, 1, 1, 1, 1, 2, 1, 2, \
    2, 2
]
reg.fit(historicos, acoes)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [31]:
reg.coef_

array([-0.01152736,  0.02092858,  0.02021832,  0.03944199])

In [40]:
reg.intercept_

-39.65493473475944

In [46]:
import numpy as np
reg.score(historicos, acoes)

0.17672252677068823

In [ ]:
reg.predict(np.array([[10, 5, 2019, 3]]))

In [45]:
reg.predict(np.array([[10, 13, 2019, 3]]))

array([1.44098085])